@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(270deg, #f8d7e0, #fdeef0);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.carousel-container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}