@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(270deg, #f8d7e0, #fdeef0);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.carousel-container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #f9b5d0 #ffe4ec;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffe4ec;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f9b5d0;
  border-radius: 10px;
  border: 2px solid #ffe4ec;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #f28caa;
  transition: background-color 0.3s ease;
}